.sj-div {
    display: block;
    text-align: center;
    margin-top: 150px;
    padding-bottom: 50px;
}

body {
    background-image: url('images/wp3175324.jpg');
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .image2 {
    background-image: url('images/wp2.jpg');
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image3 {
    background-image: url('images/thumb-1920-950765.png');
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */


